[submodule "smyt/extern/cargs"]
	path = smyt/extern/cargs
	url = https://github.com/SimonMaracine/cargs
[submodule "smyt/extern/json"]
	path = smyt/extern/json
	url = https://github.com/nlohmann/json
