[Unit]
Description=Network traffic monitoring program

[Service]
Type=notify
ExecStart=/opt/smyt/smytd
Restart=on-failure
RestartSec=60
NotifyAccess=main

[Install]
WantedBy=multi-user.target
